@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
body, html {
  background: url(../img/bodybackground.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 40px 0;
}

.wrapper {
  width: 1260px;
  margin: 0 auto;
}

.container {
  max-width: 1210px;
}

.border-none {
  border: none !important;
}

.reset, p {
  margin: 0;
  padding: 0;
}

.offset-down {
  margin-top: 45px;
}

.dropdown-toggle::after {
  display: none;
}

.top-menu {
  background-color: #2d2d2d;
}
.top-menu .navbar {
  padding: 1.8rem 0;
}
.top-menu .navbar .nav-item .nav-link {
  padding: 0 1.8rem;
  color: #fff;
  border-right: 1px solid #414141;
  line-height: 100%;
}

.news {
  background: #f8f8f8;
}
.news .breaking-news {
  position: relative;
  padding: 13px 28px;
  margin-right: 18px;
  font-size: 16px;
  color: #fff;
  background: #e75757;
}
.news .breaking-news::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 40%;
  width: 10px;
  height: 10px;
  background: inherit;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.news p {
  font-size: 12px;
  font-weight: bold;
  color: #2d2d2d;
}
.news p .fa-star {
  margin-left: 1.5rem;
  color: #8b8b8b;
}
.news__socials {
  height: 100%;
}
.news__socials i {
  margin-left: 1px;
  background: #e9e9e9;
  color: #8b8b8b;
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news__socials i:hover {
  color: #fff;
  background: #325c94;
}

.main-slider {
  background: #b1b1b1;
  background: -moz-linear-gradient(90deg, #b1b1b1 45%, #030303 95%);
  background: -webkit-linear-gradient(90deg, #b1b1b1 45%, #030303 95%);
  background: -o-linear-gradient(90deg, #b1b1b1 45%, #030303 95%);
  background: -ms-linear-gradient(90deg, #b1b1b1 45%, #030303 95%);
  background: linear-gradient(180deg, #b1b1b1 45%, #030303 95%);
}
.main-slider .main-slider__item {
  padding: 10px;
}
.main-slider .main-slider__item:hover .main-slider__image, .main-slider .main-slider__item:hover .left-slider__image {
  opacity: 1;
}
.main-slider .first-img {
  background-image: url(../img/photography.jpg);
}
.main-slider .second-img {
  background-image: url(../img/people.jpg);
}
.main-slider .third-img {
  background-image: url(../img/health.jpg);
}
.main-slider .fourth-img {
  background-image: url(../img/game.jpg);
}
.main-slider .fifth-img {
  background-image: url(../img/music.jpg);
}
.main-slider .sixth-img {
  background-image: url(../img/sport.jpg);
}
.main-slider .slick-dots {
  text-align: right;
  padding: 0 40px;
  bottom: -40px;
}
.main-slider .slick-dots li {
  position: static;
}
.main-slider .slick-dots li button {
  position: relative;
}
.main-slider .slick-dots li button:before {
  width: 26px;
  height: 6px;
  content: '';
  text-align: center;
  background-color: #000;
}
.main-slider .slick-dotted.slick-slider {
  margin-bottom: 0;
}

.main-slider__image, .left-slider__image {
  width: 100%;
  height: 255px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: .6;
}

.description, .description a {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  min-height: 48px;
  margin-top: 10px;
}

.icons {
  display: flex;
  justify-content: space-between;
  color: #b4b4b4;
  font-size: .8rem;
  margin-top: 10px;
  cursor: pointer;
}
.icons i {
  margin: 0 5px;
}

main {
  background: #fff;
  padding: 55px 0;
}

.subtitle h4 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #2d2d2d;
}
.subtitle .rectangle {
  width: 75%;
  height: 15px;
  background-image: url(../img/Rectangle2.png);
  background-size: 100% 100%;
}

.posts, .news-in-picture, .left-slider, .entertainment, .block-border {
  border-top: 2px solid #2d2d2d;
  border-bottom: 1px solid #8b8b8b;
  border-left: 1px solid #8b8b8b;
  border-right: 1px solid #8b8b8b;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
  padding: 20px 10px;
}
.posts .post, .news-in-picture .post, .left-slider .post, .entertainment .post, .news-in-picture .main-news, .block-border .post, .block-border .news-in-picture .main-news, .news-in-picture .block-border .main-news {
  position: relative;
  width: 240px;
  height: 240px;
  background-size: cover;
  background-position: center center;
  opacity: .7;
  padding: 150px 20px 20px;
}
.posts .post:hover, .news-in-picture .post:hover, .left-slider .post:hover, .entertainment .post:hover, .news-in-picture .main-news:hover, .block-border .post:hover, .block-border .news-in-picture .main-news:hover, .news-in-picture .block-border .main-news:hover {
  opacity: 1;
}
.posts .post:hover .rating, .news-in-picture .post:hover .rating, .left-slider .post:hover .rating, .entertainment .post:hover .rating, .news-in-picture .main-news:hover .rating, .block-border .post:hover .rating, .block-border .news-in-picture .main-news:hover .rating, .news-in-picture .block-border .main-news:hover .rating {
  display: block;
}
.posts .post .rating, .news-in-picture .post .rating, .left-slider .post .rating, .entertainment .post .rating, .news-in-picture .main-news .rating, .block-border .post .rating, .block-border .news-in-picture .main-news .rating, .news-in-picture .block-border .main-news .rating {
  position: absolute;
  top: 0;
  right: 0;
  background: #2d2d2d;
  padding: 15px 10px;
  display: none;
  width: 70px;
}
.posts .post .rating .score, .news-in-picture .post .rating .score, .left-slider .post .rating .score, .entertainment .post .rating .score, .news-in-picture .main-news .rating .score, .block-border .post .rating .score, .block-border .news-in-picture .main-news .rating .score, .news-in-picture .block-border .main-news .rating .score {
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  display: block;
  line-height: 75%;
}
.posts .post .rating .score-descr, .news-in-picture .post .rating .score-descr, .left-slider .post .rating .score-descr, .entertainment .post .rating .score-descr, .news-in-picture .main-news .rating .score-descr, .block-border .post .rating .score-descr, .block-border .news-in-picture .main-news .rating .score-descr, .news-in-picture .block-border .main-news .rating .score-descr {
  font-size: 0.8rem;
  line-height: 75%;
  color: #b4b4b4;
}
.posts .first-post, .news-in-picture .first-post, .left-slider .first-post, .entertainment .first-post, .block-border .first-post {
  background-image: url(../img/interview.jpg);
}
.posts .second-post, .news-in-picture .second-post, .left-slider .second-post, .entertainment .second-post, .block-border .second-post {
  background-image: url(../img/business.jpg);
}
.posts .third-post, .news-in-picture .third-post, .left-slider .third-post, .entertainment .third-post, .block-border .third-post {
  background-image: url(../img/backgrounds.jpg);
}
.posts .fourth-post, .news-in-picture .fourth-post, .left-slider .fourth-post, .entertainment .fourth-post, .block-border .fourth-post {
  background-image: url(../img/photography.jpg);
}
.posts .bottom-posts, .news-in-picture .bottom-posts, .left-slider .bottom-posts, .entertainment .bottom-posts, .block-border .bottom-posts {
  margin-top: 20px;
}

.news-in-picture .main-news {
  background-image: url(../img/sports7.jpg);
  width: 240px;
  opacity: 1;
}
.news-in-picture .other-news {
  width: 240px;
}
.news-in-picture .other-news .second-row {
  margin: 15px 0;
}
.news-in-picture .other-news .news {
  width: 70px;
  height: 70px;
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.news-in-picture .other-news .news1 {
  background-image: url(../img/sports1.jpg);
}
.news-in-picture .other-news .news2 {
  background-image: url(../img/sports2.jpg);
}
.news-in-picture .other-news .news3 {
  background-image: url(../img/sports3.jpg);
}
.news-in-picture .other-news .news4 {
  background-image: url(../img/sports4.jpg);
}
.news-in-picture .other-news .news5 {
  background-image: url(../img/sports5.jpg);
}
.news-in-picture .other-news .news6 {
  background-image: url(../img/sports6.jpg);
}
.news-in-picture .other-news .news7 {
  background-image: url(../img/sports8.jpg);
}
.news-in-picture .other-news .news8 {
  background-image: url(../img/sports9.jpg);
}
.news-in-picture .other-news .news9 {
  background-image: url(../img/sports10.jpg);
}

.left-slider {
  padding: 20px 10px;
}
.left-slider .first-img {
  background-image: url(../img/music.jpg);
}
.left-slider .second-img {
  background-image: url(../img/sports10.jpg);
}
.left-slider .third-img {
  background-image: url(../img/sports11.jpg);
}
.left-slider .fourth-img {
  background-image: url(../img/sports7.jpg);
}
.left-slider__item {
  margin: 0 10px;
}
.left-slider .description, .left-slider .description a, .description .left-slider a {
  color: #2d2d2d;
}
.left-slider .slick-dots {
  text-align: right;
  padding: 0;
  top: -44px;
}
.left-slider .slick-dots li {
  position: static;
  width: 5px;
}
.left-slider .slick-dots li button {
  position: relative;
}
.left-slider .slick-dots li button:before {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  content: '';
  text-align: center;
  background-color: #000;
}
.left-slider .slick-dotted.slick-slider {
  margin-bottom: 0;
}

.left-slider__image {
  height: 115px;
  opacity: 1;
}

.entertainment {
  margin-bottom: 40px;
}
.entertainment .post, .entertainment .news-in-picture .main-news, .news-in-picture .entertainment .main-news {
  height: 320px;
  padding: 220px 20px 20px;
  opacity: 1;
}
.entertainment .image {
  width: 65px;
  height: 65px;
  background-size: cover;
  background-position: center center;
  margin-right: 20px;
}
.entertainment .text {
  width: 160px;
}
.entertainment .first-image {
  background-image: url(../img/health.jpg);
}
.entertainment .second-image {
  background-image: url(../img/interview.jpg);
}
.entertainment .third-image {
  background-image: url(../img/game.jpg);
}
.entertainment .fourth-image {
  background-image: url(../img/business.jpg);
}
.entertainment .icons {
  justify-content: flex-start;
}

.entertainment__item {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  margin-bottom: 9px;
  border-bottom: 1px solid #f8f8f8;
}

/*# sourceMappingURL=style.css.map */
