$dark1:#2d2d2d;
$dark2:#414141;
$activecolor:#55b2f3;
$textcolor1:#8b8b8b;
$textcolor2:#b4b4b4;
$white:#fff;
$formcolor:#f8f8f8;

$fz:14px;

body,html{
    background: url(../img/bodybackground.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Roboto', sans-serif;
    font-size: $fz;
    padding: 40px 0;
}
.wrapper{
    width: 1260px;
    margin: 0 auto;
}
.container {
    max-width: 1210px;
}
.border-none{
    border: none !important;
}
.reset{
    margin: 0;
    padding: 0;
}
p{
    @extend .reset;
}
.offset-down{
    margin-top: 45px;
}
.col-md-6{
    padding-right: 5px;
    padding-left: 5px;
}
// navbar
.dropdown-toggle{
    &::after{
        display: none;
    }
}




