@import 'fonts';
@import 'settings';

// header
.top-menu{
    background-color: $dark1;
    .navbar{
        padding: 1.8rem 0; 
        .nav-item{
            .nav-link{
                padding: 0 1.8rem;
                color: $white;
                border-right: 1px solid $dark2;
                line-height: 100%;
            }
        }
    }
     
}
.news{
    background: $formcolor;
    .breaking-news{
        position: relative;
        padding: 13px 28px;
        margin-right: 18px;
        font-size: $fz+2px;
        color: $white;
        background: #e75757;
        &::after{
            content: "";
            position: absolute;
            right: -5px;
            top: 40%;
            width: 10px;
            height: 10px;
            background: inherit;
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    p{
        font-size: 12px;
        font-weight: bold;
        color: $dark1;
        .fa-star{
            margin-left: 1.5rem;
            color: $textcolor1;
        }
    }
    &__socials{
        height: 100%;
        i{
            margin-left: 1px;
            background: #e9e9e9;
            color: $textcolor1;
            height: 100%;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
                color: $white;
                background: #325c94;
            }
        }
    }
    
}
.main-slider{
    background: rgb(177, 177, 177);
    background: -moz-linear-gradient(90deg, rgb(177, 177, 177) 45%, rgb(3, 3, 3) 95%);
    background: -webkit-linear-gradient(90deg, rgb(177, 177, 177) 45%, rgb(3, 3, 3) 95%);
    background: -o-linear-gradient(90deg, rgb(177, 177, 177) 45%, rgb(3, 3, 3) 95%);
    background: -ms-linear-gradient(90deg, rgb(177, 177, 177) 45%, rgb(3, 3, 3) 95%);
    background: linear-gradient(180deg, rgb(177, 177, 177) 45%, rgb(3, 3, 3) 95%);
    .main-slider__item{
        padding: 10px;
        &:hover{
            .main-slider__image{
                opacity: 1;
            }
        } 
    }
    .first-img{
        background-image: url(../img/photography.jpg);
    }
    .second-img{
        background-image: url(../img/people.jpg);
    }
    .third-img{
        background-image: url(../img/health.jpg);
    }
    .fourth-img{
        background-image: url(../img/game.jpg);
    }
    .fifth-img{
        background-image: url(../img/music.jpg);
    }
    .sixth-img{
        background-image: url(../img/sport.jpg);
    }
    // Slick-slider main-slider dots 
    .slick-dots{
        text-align: right;
        padding: 0 40px;
        bottom: -40px;
        li{
            position: static;
            button{
                position: relative;
                &:before{
                    width: 26px;
                    height: 6px;
                    content: '';
                    text-align: center;
                    background-color: #000;  
                }
            }
        } 
    }
    .slick-dotted.slick-slider {
        margin-bottom: 0; 
    }
}
.main-slider__image{
    width: 100%;
    height: 255px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: .6;
}
.description , .description a{
    font-size: $fz+2px;
    color: $white;
    font-weight: bold;
    min-height: 48px;
    margin-top: 10px;
}
.icons{
    display: flex;
    justify-content: space-between;
    color: $textcolor2;
    font-size: .8rem;
    margin-top: 10px;
    cursor: pointer;
    i{
        margin: 0 5px;
    }
}
// main
// latest-posts
main{
    background: #fff;
    padding: 55px 0;
}
.subtitle{
    h4{
        font-size: 1.1rem;
        font-weight: 700;
        color: $dark1;
    }
    .rectangle{
        width: 75%;
        height: 15px;
        background-image: url(../img/Rectangle2.png);
        background-size: 100% 100%; 
     }
}
.posts , .block-border{
    border-top: 2px solid $dark1;
    border-bottom: 1px solid $textcolor1;
    border-left: 1px solid $textcolor1;
    border-right: 1px solid $textcolor1;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.75);
    padding: 20px;
    .post{
      position: relative;
      width: 240px;
      height: 240px; 
      background-size: cover;
      background-position: center center;
      opacity: .7; 
      padding: 150px 20px 20px;
      &:hover{
          opacity: 1;
        .rating{
            display: block;
        }
    }
      .rating{
        position: absolute;
        top: 0;
        right: 0;
        background: $dark1;
        padding: 15px 10px;
        display: none;
        width: 70px;
        .score{
            color: $white;
            font-size: 1.8rem;
            text-align: center;
            display: block;
            line-height: 75%;
        }
        .score-descr{
            font-size: 0.8rem;
            line-height: 75%;
            color: $textcolor2;
        }
      }
    }
    .first-post{
        background-image: url(../img/interview.jpg);    
    }
    .second-post{
        background-image: url(../img/business.jpg);
    }
    .third-post{
        background-image: url(../img/backgrounds.jpg);
    }
    .fourth-post{
        background-image: url(../img/photography.jpg);
    }
    .bottom-posts{
        margin-top: 20px;
    }
}
// news-in-picture
.news-in-picture{
    @extend .posts;
    .main-news{
        @extend .post;
        background-image: url(../img/sports7.jpg);
        width: 240px;
        opacity: 1;
    }
    .other-news{
        width: 240px;
        .second-row{
            margin: 15px 0;
        }
        .news{
            width: 70px;
            height: 70px;
            background-size: auto 100%;
            background-position: center center;
            background-repeat: no-repeat;
            cursor: pointer;
        }
        .news1{
            background-image: url(../img/sports1.jpg);
        }
        .news2{
            background-image: url(../img/sports2.jpg);
        }
        .news3{
            background-image: url(../img/sports3.jpg);
        }
        .news4{
            background-image: url(../img/sports4.jpg);
        }
        .news5{
            background-image: url(../img/sports5.jpg);
        }
        .news6{
            background-image: url(../img/sports6.jpg);
        }
        .news7{
            background-image: url(../img/sports8.jpg);
        }
        .news8{
            background-image: url(../img/sports9.jpg);
        }
        .news9{
            background-image: url(../img/sports10.jpg);
        }
    }
}
// carousel posts
.left-slider{
    @extend .posts;
    padding: 20px 10px;
    .first-img{
        background-image: url(../img/music.jpg);
    }
    .second-img{
        background-image: url(../img/sports10.jpg);
    }
    .third-img{
        background-image: url(../img/sports11.jpg);
    }
    .fourth-img{
        background-image: url(../img/sports7.jpg);
    }
    &__item{
        margin: 0 10px;;
    }
    .description{
        color: $dark1;
    }
    // Slick-slider main-slider dots 
    .slick-dots{
        text-align: right;
        padding: 0;
        top: -44px;
        li{
            position: static;
            width: 5px;
            button{
                position: relative;
                &:before{
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    content: '';
                    text-align: center;
                    background-color: #000;  
                }
            }
        } 
    }
    .slick-dotted.slick-slider {
        margin-bottom: 0; 
    }
}
.left-slider__image{
    @extend .main-slider__image;
    height: 115px;
    opacity: 1;  
}

// enterteinment
.entertainment{
    @extend .posts;
    margin-bottom: 40px;
    padding: 20px 10px;
    .post{
        height: 320px;
        padding: 220px 20px 20px;
        opacity: 1;
    }
    .first-image{
        background-image: url(../img/health.jpg);
    }
    .second-image{
        background-image: url(../img/interview.jpg);
    }
    .third-image{
        background-image: url(../img/game.jpg);
    }
    .fourth-image{
        background-image: url(../img/business.jpg);
    }
    .icons{
        justify-content: flex-start;
    }
}
.image{
    width: 65px;
    height: 65px;
    background-size: cover;
    background-position: center center;
    margin-right: 20px;
}
.text{
    width: 170px;
    font-weight: 700;
}
.entertainment__item{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px ;
    margin-bottom: 9px;
    border-bottom: 1px solid $formcolor;
    &:last-child{
        padding-bottom: 0;
        margin-bottom: 0;
        border: none;
    }
}
// right-part
// popular-posts
.right-part{
    .subtitle{
        .rectangle{
            width: 55%;
            margin-left: 15px;
        }
    }
}
.popular-posts{
    @extend .entertainment;
    .entertainment__item{
        .first-image{
            background-image: url(../img/popular1.jpg);
        }
        .second-image{
            background-image: url(../img/popular2.jpg);
        }
        .third-image{
            background-image: url(../img/popular3.jpg);
        }
        .fourth-image{
            background-image: url(../img/popular4.jpg);
        }
    }
    .icons{
        justify-content: flex-start;
    }
}
// socials
.socials{
    .social{
        width: 30%;
        padding: 15px 0;
        text-align: center;
        border-radius: 3px;
        color: $white;
        .circle{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .circle-fb{
            background-color: darken(#325c94,5%);
        }
        .circle-tw{
            background-color: darken(#4fc0e9,5%);
        }
        .circle-wf{
            background-color: darken(#f78634,5%);
        }
        span{
            display: block;
            margin-top: 12px;
            line-height: 1.1;
        }
        i{
            font-size: 20px;
        }
    }
    .fb{
        background: #325c94;
    }
    .tw{
        background: #4fc0e9;
    }
    .wf{
        background: #f78634;
    }
}
// sponsor
.sponsor{
    border: 1px solid $textcolor1;
    padding: 15px 10px 10px;
    position: relative;
    .sponsor__title{
        text-transform: uppercase;
        display: block;
        padding: 5px 10px;
        position: absolute;
        color: $textcolor1;
        font-size: .8rem;
        background: $white;
        top: -14px;
    }
    .sponsor__img-big{
        width: 100%;   
    }
    .sponsor__container{
        margin-top: 14px;
    }
    .sponsor__img-small{
        width: 118px;
    }
    .sponsor__img{
        background-color: $formcolor;
        height: 118px;
    }
}
// poll
.poll{
    @extend .entertainment;
    .poll__question{
        font-size: $fz+2px;
        text-align: center;
        font-weight: bold;
    }
    .poll__radio{
        margin: 25px 0 5px;
    }
    .custom-control{
        padding-left: 2.5rem;
        padding-bottom: 1rem;
    }
    .custom-control-label{
        &::before{
           left: -2rem; 
        }
    }
    .custom-control-input{
        cursor: pointer;
        &:checked{
            ~.custom-control-label{
                color: $activecolor;
                &::after{
                    background-image: none;
                }
            }
        }
    }
    .buttons{
        margin-left: 5px;
        .vote , .view-results{
            padding: 9px 20px;
            background-color: $dark1;
            color: $white;
            margin-right: 10px;
            text-decoration: none;
            &:hover{
                background-color: $activecolor;
            }
        }
    }
}
// slider-posts
.slider-posts{
    @extend .posts;
    .slider-posts__item{
        @extend .post;
        opacity: 1;
        padding: 170px 20px 20px;
        .description{
            min-height: 20px;
        }
    }
    .single-slider-posts{
        .first-item{
            background-image: url(../img/business.jpg);
        }
        .second-item{
            background-image: url(../img/game.jpg);
        }
    }
    // slick arrows
    .slick-prev , .slick-next{
        &:before{
            content: '';
            color: $dark1;
            width: 10px;
            height: 10px;
            border-left: 2px solid $textcolor1;
            border-bottom: 2px solid $textcolor1;
            transform: rotate(45deg);
            position: absolute;
            top: -153px;
            left: 255px;
        }
    }
    .slick-next{
        &::before{
            transform: rotate(225deg);
            left: 5px;
        }
    }
}
// Tags
.tags{
    @extend .posts;
    padding: 15px 12px;
    &__group{
        display: flex;
        margin-bottom: 5px;
        .tag{
            padding: 10px 15px;
            background: $dark1;
            color: $white;
            border-radius: 3px;
            display: block;
            margin-right: 5px;
            text-decoration: none;
            transition: all 0.3s;
            &:hover{
                background: $activecolor;
                transition: all 0.3s;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
}
// Newsletters
.newsletters{
    @extend .posts;
    padding: 20px 20px 10px;
    .form-control{
        font-size: 11px;
        font-style: italic;
        background: $formcolor url(../img/thumbs-up.png) no-repeat center right;
        padding: 17px 10px;
    }
}
// video-widget
.video-widget{
    @extend .posts;
}
